<video [muted]="true" autoplay playsinline loop id="myVideo">
    <source src="assets/greenLoop_854x480.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
<div id="home-page">
    <div id="home-page-landing">
       <div id="landing-left">
           <div id="landing-left-content">
               <div class="hand-written-title">Село</div>
               <div class="mat-headline under-title">Място за любителите на селският начин на живот и свободна търговия</div>
               <button mat-raised-button color="accent">ВХОД</button>
           </div>
       </div>
    </div>
</div>

