<div class="authenticator">
    <mat-card id="authenticator-content">
        <mat-card-header>
            <mat-card-title>Вход</mat-card-title>
        </mat-card-header>
        <div>
            <input placeholder= "Имейл">
            <input placeholder= "Парола" type="password"> 
            <button mat-raised-button color="primary">Влез</button>
        </div>
        <mat-card-actions align = "end">
            <button mat-raised-button color="warn">Забравена Парола</button>
            <button mat-raised-button color="accent">Регистрация</button>
            <button mat-raised-button color="primary">Вход</button>
        </mat-card-actions>
    </mat-card>
</div>
